@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<p>Ajai Kumar V<br />Owner Boat Headphones</p>
<p>Phone:9597498724</p>

<address>
    <strong>Support</strong><a href="mailto:Support@boat.com">support@boat.com</a><br />
    <strong>Marketing</strong><a href="mailto:Marketing@boat.com">marketing@boat.com</a>
</address>
