
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Location</h2>

<address>
    Boat Headphones<br />
    Krishnagiri-Bangalore HighWays<br />
    Hosur<br />
    Krishnagiri-District<br />
</address>

